In [50]:
__author__ = 'sharmaam'

import pandas as pd
import numpy as np
import os
import glob
from sklearn import cross_validation, ensemble, preprocessing, metrics
from sklearn.grid_search import GridSearchCV
import collections
import matplotlib.pyplot as plt
from sklearn.cross_validation import train_test_split
from h2o.estimators.random_forest import H2ORandomForestEstimator

pd.set_option('display.max_columns', None)

%matplotlib inline

import matplotlib
import numpy as np
import matplotlib.pyplot as plt
matplotlib.style.use('ggplot')

# Prints the feature importance sorted descending for a model
def featureImp(model, df, n=10):
    index = np.argsort(model.feature_importances_)[::-1]
    print df.columns[index].values[:n] + ':' + model.feature_importances_[index].astype(str)[:n]


# Percentage Root Mean Squared Error (RMSPE)
def rmspe(pred, actual):
    sse = np.sum(pow((pred-actual)/pred, 2))
    sseMean = sse / len(pred)
    rmspe = np.sqrt(sseMean)
    return rmspe


# Print Grid Search results
def getBestModel(model):
    print("Best score: %0.3f" % model.best_score_)
    print("Best parameters set:")
    best_parameters = model.best_estimator_.get_params()
    for param_name in sorted(param_grid.keys()):
        print("\t%s: %r" % (param_name, best_parameters[param_name]))
    return model.best_estimator_

# Returns true for encoded columns
def isEncodedCol(df, col):
    encodedCols = []
    encode = (df[col].dtype != 'int64') & (df[col].dtype != 'float64')
    encode = encode | (col in encodedCols)
    return encode

# Encode columns to categorical values
def encodeCols(df):
    print "Encoding cols..."
    # Encode categorical cols
    for col in df.columns:
        if (isEncodedCol(df, col)):
            lbl = preprocessing.LabelEncoder()
            lbl.fit(df[col])
            df[col] = lbl.transform(df[col])
    return df


def preProcess(df):
    df['Month'] = df.Date.dt.month.astype(int)
    df['Day'] = df.Date.dt.day.astype(int)
    df['Year'] = df.Date.dt.year.astype(int)

    grpByCust = df.groupby(["Store", "Month"]).mean()['Customers']
    grpByCust.name = 'Avg_Cust'
    df = df.join(grpByCust, on=['Store', 'Month'])

    stores = pd.read_csv('../input/store.csv')
    df = df.merge(stores, on='Store')    
    
    
    

    # Remove columns not being handled currently
    df = df.drop(['Customers'], axis=1)

    # Impute missing values
    for impCol in df.columns:
        if (df[impCol].dtype == 'int64') or (df[impCol].dtype == 'float64'):
            #imputedVal = df[impCol].value_counts().index[0]
            #df[impCol] = df[impCol].fillna(imputedVal)
            df[impCol] = df[impCol].fillna(0)
        elif df[impCol].dtype == 'object':
            #imputedVal = df[impCol].value_counts().index[0]
            #df[impCol] = df[impCol].fillna(imputedVal)
            df[impCol] = df[impCol].fillna('NAValue')

    '''
    print "Cleaning too many categories..."
    ### Clean variables with too many categories
    for col in df.columns:
        if (df[col].dtype != 'int64') & (df[col].dtype != 'float64'):
            top30 = np.array(collections.Counter(df[col]).most_common(60))[:, 0]
            notInTop30 = [(not x in top30) for x in df[col]]
            df.ix[notInTop30, col] = 'rareValue'

    '''
    return df

In [51]:
forSubmission = False
gbr = False

os.chdir("/home/devel/axs/work/kaggle/rossmann/scripts")

# load trainAlling and test datasets
trainAll = pd.read_csv('../input/train.csv', parse_dates=[2, ])

# Take a random split for temp training purpose
trainAll, dummy = train_test_split(trainAll, test_size = 0.8)

trainAll = preProcess(trainAll)

trainAll.head(6)

,Store,DayOfWeek,Date,Sales,Open,Promo,StateHoliday,SchoolHoliday,Month,Day,Year,Avg_Cust,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,351,4,2013-04-25,5708,1,1,0,0,4,25,2013,443.705882,a,a,5290,11,2012,1,5,2013,"Feb,May,Aug,Nov"
1,351,4,2015-04-16,7237,1,1,0,0,4,16,2015,443.705882,a,a,5290,11,2012,1,5,2013,"Feb,May,Aug,Nov"
2,351,1,2013-04-29,8298,1,1,0,0,4,29,2013,443.705882,a,a,5290,11,2012,1,5,2013,"Feb,May,Aug,Nov"
3,351,6,2015-03-14,5413,1,0,0,0,3,14,2015,456.714286,a,a,5290,11,2012,1,5,2013,"Feb,May,Aug,Nov"
4,351,5,2015-07-17,6896,1,1,0,1,7,17,2015,445.277778,a,a,5290,11,2012,1,5,2013,"Feb,May,Aug,Nov"
5,351,6,2013-10-05,4593,1,0,0,0,10,5,2013,431.545455,a,a,5290,11,2012,1,5,2013,"Feb,May,Aug,Nov"

In [52]:
trainAll = encodeCols(trainAll)

#Split train-test data
train, test = train_test_split(trainAll, test_size = 0.2)

#trainX = train.drop(['Sales', 'PromoInterval'], axis=1)
#testX = test.drop(['Sales', 'PromoInterval'], axis=1)

Encoding cols...

In [53]:
trainAll.head(6)

,Store,DayOfWeek,Date,Sales,Open,Promo,StateHoliday,SchoolHoliday,Month,Day,Year,Avg_Cust,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,351,4,114,5708,1,1,1,0,4,25,2013,443.705882,0,0,5290,11,2012,1,5,2013,0
1,351,4,835,7237,1,1,1,0,4,16,2015,443.705882,0,0,5290,11,2012,1,5,2013,0
2,351,1,118,8298,1,1,1,0,4,29,2013,443.705882,0,0,5290,11,2012,1,5,2013,0
3,351,6,802,5413,1,0,1,0,3,14,2015,456.714286,0,0,5290,11,2012,1,5,2013,0
4,351,5,927,6896,1,1,1,1,7,17,2015,445.277778,0,0,5290,11,2012,1,5,2013,0
5,351,6,277,4593,1,0,1,0,10,5,2013,431.545455,0,0,5290,11,2012,1,5,2013,0

In [54]:
#model = ensemble.RandomForestRegressor(n_estimators=100, criterion='mse', oob_score=True, max_features=None, max_depth=None).fit(trainX, trainY)
#print "...Completed!"

# Grid based turning
# from sklearn import linear_model
# model = linear_model.LinearRegression(fit_intercept=True, normalize=True, copy_X=True).fit(trainX, trainY)
# Alternative model
# rfModel = ensemble.RandomForestRegressor(criterion='mse')
# param_grid = dict(max_features=[40,50,60,70,80,90])
# model = GridSearchCV(rfModel, param_grid=param_grid, scoring=rmsle_scorer, verbose=10).fit(trainX, trainY)
# model = getBestModel(model)

In [55]:
#Initialize the H20 engine
import h2o
h2o.init()

--------------------------  -------------------------------------
H2O cluster uptime:         5 minutes 11 seconds 891 milliseconds
H2O cluster version:        3.7.0.3250
H2O cluster name:           H2O_started_from_python
H2O cluster total nodes:    1
H2O cluster total memory:   512.0 MB
H2O cluster total cores:    8
H2O cluster allowed cores:  8
H2O cluster healthy:        True
H2O Connection ip:          127.0.0.1
H2O Connection port:        54321
--------------------------  -------------------------------------

In [56]:
train_Hex = h2o.H2OFrame(train.to_dict("list"))
test_Hex = h2o.H2OFrame(test.to_dict("list"))

Parse Progress: [##################################################] 100%

Parse Progress: [##################################################] 100%

In [57]:
xCols = train_Hex.names
xCols.remove("Sales")
yCols = 'Sales'
# Define and fit model
model = H2ORandomForestEstimator(seed=42)
model.train(x=xCols, y=yCols, training_frame=train_Hex)
print "Training complete: \n", model

drf Model Build Progress: [##################################################] 100%
Training complete:
Model Details
=============
H2ORandomForestEstimator :  Distributed RF
Model Key:  DRF_model_python_1447641305609_4

Model Summary:

    number_of_trees    model_size_in_bytes    min_depth    max_depth    mean_depth    min_leaves    max_leaves    mean_leaves
--  -----------------  ---------------------  -----------  -----------  ------------  ------------  ------------  -------------
    50                 1.77719e+07            20           20           20            24609         36810         30708.8

ModelMetricsRegression: drf
** Reported on train data. **

MSE: 1187708.25503
R^2: 0.919755701434
Mean Residual Deviance: 1187708.25503

Scoring History:

    timestamp            duration    number_of_trees    training_MSE    training_deviance
--  -------------------  ----------  -----------------  --------------  -------------------
    2015-11-16 08:10:44  0.659 sec   1                  2.53625e+06     2.53625e+06
    2015-11-16 08:10:44  1.339 sec   2                  2.39812e+06     2.39812e+06
    2015-11-16 08:10:45  2.018 sec   3                  2.22752e+06     2.22752e+06
    2015-11-16 08:10:46  2.679 sec   4                  2.08439e+06     2.08439e+06
    2015-11-16 08:10:46  3.380 sec   5                  1.95958e+06     1.95958e+06
    2015-11-16 08:10:47  3.974 sec   6                  1.87053e+06     1.87053e+06
    2015-11-16 08:10:51  8.309 sec   13                 1.47158e+06     1.47158e+06
    2015-11-16 08:10:55  12.484 sec  20                 1.32689e+06     1.32689e+06
    2015-11-16 08:11:00  16.634 sec  27                 1.25491e+06     1.25491e+06
    2015-11-16 08:11:05  21.639 sec  32                 1.23892e+06     1.23892e+06
    2015-11-16 08:11:09  25.750 sec  39                 1.20984e+06     1.20984e+06
    2015-11-16 08:11:13  29.921 sec  46                 1.19458e+06     1.19458e+06
    2015-11-16 08:11:15  32.265 sec  50                 1.18771e+06     1.18771e+06

Variable Importances:

variable                   relative_importance    scaled_importance    percentage
-------------------------  ---------------------  -------------------  ------------
Open                       2.57033e+13            1                    0.305697
Avg_Cust                   1.88023e+13            0.731513             0.223621
DayOfWeek                  1.43806e+13            0.559482             0.171032
Promo                      9.80142e+12            0.381329             0.116571
StateHoliday               1.94036e+12            0.0754905            0.0230772
StoreType                  1.72529e+12            0.0671232            0.0205193
CompetitionOpenSinceMonth  1.64563e+12            0.0640239            0.0195719
CompetitionDistance        1.60456e+12            0.0624263            0.0190835
Store                      1.53267e+12            0.0596292            0.0182285
Day                        1.41647e+12            0.0551084            0.0168465
Month                      1.37335e+12            0.0534308            0.0163336
Assortment                 9.55913e+11            0.0371903            0.0113689
Date                       7.29706e+11            0.0283896            0.0086786
Promo2SinceWeek            6.40014e+11            0.0249001            0.00761186
PromoInterval              4.24932e+11            0.0165322            0.00505384
Promo2SinceYear            4.12797e+11            0.0160601            0.00490951
CompetitionOpenSinceYear   3.89564e+11            0.0151562            0.0046332
Year                       2.27395e+11            0.00884689           0.00270447
SchoolHoliday              2.26767e+11            0.00882248           0.002697
Promo2                     1.48092e+11            0.00576158           0.00176129

In [58]:
preds = model.predict(test_Hex)

pred, actual = np.array(h2o.as_list(preds)), np.array(h2o.as_list(test_Hex['Sales']))
pred = pred[actual>0]
actual = actual[actual>0]

err = rmspe(pred, actual)

print "PRMSE Score: ", err

PRMSE Score:  0.162116431386